nav{
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100px;
    background-color: antiquewhite;
}

p{
    position: fixed;
    top: 0;
    font-size: 1em;
    text-align: center;
    align-items: center;
}

h2{ 
    position: fixed;
    top: 0;
    margin: 0 auto;
    left: 20%;
    font-size: 5em; 
    width: 5em; 
    text-align: center;
}

form{
    width: 30%;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.img_upload{
    max-width: 400px;
    position: relative;
    left: 0;
}